{% extends 'base.html' %}

{% block content %}
<div class="project-detail-page">
    <!-- Sidebar for Other Projects -->
    <aside class="project-sidebar">
        <h2><u>Projects:</u><br><br/></h2>
        <ul>
            {% for other_project in projects %}
            <li class="{% if other_project['id'] == current_project_id %}active underline{% endif %}">
                <a href="{{ other_project['detail_url'] }}">{{ other_project['title'] }}</a>
            </li>
            {% endfor %}
        </ul>
    </aside>

    <!-- Main Content -->
    <div class="project-detail">
        <h2 id="project-overview">Project Overview</h2>
        <progress value="10" max="100"></progress> 10%
        <p>The goal of this project is to demonstrate my skills in database design, while teaching myself to simulate data. For this project I&#39;ll design a database for my delivery app, create synthetic data with a python script, run analysis on top of it using streamlit, and answer hard questions about the business model.</p>
        <p>I&#39;d like to also relate it to the real world by researching actual delivery apps, their pricing models, and make an educated guess on the simulation parameters I&#39;d need to compare them.</p>

        <h2 id="objectives">Objectives</h2>
        <p>Design a delivery app database, simulate realistic data, and analyze business models to answer key questions.</p>

        <h2 id="design">Design</h2>
        <p>SQL</p>
        <ul>
            <li>Local instance of SQL (probably SQLite, or other free option)</li>
            <li>Will need data structure and database design</li>
            <li>Ensure normalization</li>
        </ul>
        <p>Order Simulation Script</p>
        <ul>
            <li>Simulate different kinds of surges</li>
            <li>Introduce randomness</li>
        </ul>
        <p>Driver Simulation Script</p>
        <ul>
            <li>Delivery driver availability</li>
        </ul>

        <h2 id="data-analysis">Data & Analysis</h2>
        <p>Data</p>
        <ul>
            <li>Python script to generate synthetic data elements</li>
            <li>order_id, customer_id, restaurant_id, order_time, delivery_distance, cost, delivery_fee, tip, surge_mult, final_price, delivery_type, etc.</li>
        </ul>
        <p>Visualization</p>
        <ul>
            <li>Streamlit</li>
            <li>Distributions, charts</li>
        </ul>
        <p>Analysis</p>
        <ul>
            <li>Answer hard questions: expensive times, express cost vs time to deliver, surge pricing effect on consumer and business, impact of different values in simulated data</li>
        </ul>

        <h2 id="conclusion">Conclusion</h2>
        <h3 id="results">Results</h3>
        <p>TBD</p>

        <h3 id="challenges">Challenges</h3>
        <p>TBD</p>

        <h3 id="future-work">Future Work</h3>
        <p>TBD.</p>

        <h2 id="references">References</h2>
        <p>TBD</p>
    </div>
</div>
{% endblock %}
