{% extends 'base.html' %}

{% block content %}
<div class="project-detail-page">
    <!-- Sidebar for Other Projects -->
    <aside class="project-sidebar">
        <h2><u>Projects:</u><br><br/></h2>
        <ul>
            {% for other_project in projects %}
            <li class="{% if other_project['id'] == current_project_id %}active underline{% endif %}">
                <a href="{{ other_project['detail_url'] }}">{{ other_project['title'] }}</a>
            </li>
            {% endfor %}
        </ul>
    </aside>

    <!-- Main Content -->
    <div class="project-detail">
        <h2 id="project-overview">Project Overview</h2>
        <p>This page is to host all the things I&#39;m currently working to learn, but don&#39;t quite end up at the level of a full project.</p>

        <h2 id="books">Books</h2>
        <ul>
            <li>SQL for Data Analysis, <em>Cathy Tanimura</em>, <progress value="50" max="100"></progress> 50%</li>
            <li>Fundamentals of Data Engineering, <em>Joe Reis &amp; Matt Housley</em>, <progress value="0" max="100"></progress> 0%</li>
            <li>SQL Performance Explained, <em>Markus Winand</em>, <progress value="0" max="100"></progress> 0%</li>
            <li>Data Science from Scratch, <em>Joel Grus</em>, <progress value="0" max="100"></progress> 0%</li>
        </ul>

        <h2 id="online-courses">Online Courses</h2>
        <ul>
            <li>Codecademy: Data Science Career Path - <progress value="80" max="100"></progress> 80%</li>
        </ul>

        <h2 id="future-work">Future Work</h2>
        <ul>
            <li>Tentative: Masters program in Fall</li>
            <li>Explore advanced machine learning techniques.</li>
        </ul>
    </div>
</div>
{% endblock %}
