{% extends 'base.html' %}

{% block content %}
<h1>About Me</h1>
<p>I'm a data professional with expertise in SQL, Python, and cloud-based data platforms (Snowflake, AWS, GCP). Proven track
record in designing scalable data solutions, optimizing workflows, and transforming complex datasets into actionable insights.
Passionate about leveraging automation and engineering best practices to improve data accessibility and drive strategic
decision-making.</p>
<br>

<!-- Download Button -->
<a href="{{ url_for('download_resume') }}" class="btn">Download Resume</a>
<h2>Work Experience, and Education</h2>

<!-- Timeline -->
<div class="timeline-wrapper">
    <section class="timeline">
        {% for item in work_experience %}
        <div class="timeline-item">
            <div class="timeline-content" style="text-align: left;">
                <h3>{{ item.title }}</h3>
                <h4>{{ item.company }}</h4>
                <p><em>{{ item.duration }}</em></p>
                <p>{{ item.description | replace('\n', '<br>') | safe }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
</div>

{% endblock %}
