{% extends 'base.html' %}

{% block content %}

<!-- Featured Work Section -->
<section class="featured-work">
    <h2>Featured Work</h2>
    <div class="projects-grid">
        {% for project in projects %}
        <div class="project-card">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <a href="{{ project.detail_url }}" class="btn">View Details</a>
        </div>

        {% endfor %}
    </div>
</section>

<!-- Working On Section -->
<section class="working-on">
    <h2>Working On:</h2>
    <div class="working-on-grid">
        {% for item in working_on %}
        <div class="task-card">
            <div class="task-header">
                <span class="task-title">{{ item.task }}</span>
                <span class="task-percent">{{ item.progress }}%</span>
            </div>
            <div class="progress-bar">
                <div class="progress" style="width: {{ item.progress }}%;"></div>
            </div>
            <a href="{{ url_for('project_detail', project_name=item.project_name) }}" class="btn">View Details</a>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Next Up Section -->
<section class="next-up">
    <h2>Next up:</h2>
        <body>
            <ul> 
                <li>Election Night Statistics</li>
                <li>Money in Politics Dataset Review</li>
                <li>Writeup of: <u><a href= "https://www.pnas.org/doi/10.1073/pnas.1210722109">Statistical detection of systematic election irregularities </a></u></li>
                <li>Company Ownership type, and it's effect on longevity</li>
                <li>Are earnings a predictor of layoffs?</li>
            </ul>
        </body>
</section>

{% endblock %}