{% extends 'base.html' %}

{% block content %}
<div class="project-detail-page">
    <!-- Sidebar for Other Projects -->
    <aside class="project-sidebar">
        <h2><u>Projects:</u><br><br/></h2>
        <ul>
            {% for other_project in projects %}
            {% if other_project['id'] != project['id'] %}
            <li>
                <a href="{{ other_project['detail_url'] }}">{{ other_project['title'] }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </aside>

    <!-- Main Content -->
    <div class="project-detail">
        <h1>{{ project['title'] }}</h1>
        <p><strong>Completion Date:</strong> {{ project['date'] }}</p>

        <!-- Render HTML Content -->
        <div class="html-content">
            {{ writeup|safe }}
        </div>
        
        <!-- GitHub Button -->
        <p>
            <a href="{{ project['github_url'] }}" target="_blank" class="btn">
                <img src="{{ url_for('static', filename='icons/github-mark-white.png') }}" alt="GitHub" class="icon">
                View on GitHub
            </a>
        </p>
    </div>
</div>
{% endblock %}
